<div class="pipes-demo-container">
  <h1>Angular Pipes Demo</h1>

  <div class="navigation">
    <div class="topic-list">
      <div
        *ngFor="let topic of topics"
        class="topic-item"
        [class.active]="currentTopic === topic.id"
        (click)="selectTopic(topic.id)">
        <h3>{{ topic.title }}</h3>
        <p>{{ topic.description }}</p>
      </div>
    </div>
  </div>

  <div class="content-area">
    <div *ngIf="currentTopic === 'introduction'">
      <app-introduction-pipes></app-introduction-pipes>
    </div>

    <div *ngIf="currentTopic === 'using'">
      <app-using-pipes></app-using-pipes>
    </div>

    <div *ngIf="currentTopic === 'parameterized'">
      <app-parameterized-pipes></app-parameterized-pipes>
    </div>

    <div *ngIf="currentTopic === 'custom'">
      <app-custom-pipe-demo></app-custom-pipe-demo>
    </div>

    <div *ngIf="currentTopic === 'parameterized-custom'">
      <app-parameterized-custom-pipe></app-parameterized-custom-pipe>
    </div>

    <div *ngIf="currentTopic === 'pure-impure'">
      <app-pure-impure-pipes></app-pure-impure-pipes>
    </div>

    <div *ngIf="currentTopic === 'async'">
      <app-async-pipe-demo></app-async-pipe-demo>
    </div>
  </div>
</div>
